.title {
}
.subTitle {
  margin-bottom: var(--space-20);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-16);
  .backBtn {
    margin-right: var(--space-12);
  }
}
.voucherContainer {
  display: flex;
  flex-direction: column;
}
.voucherWrapper {
  display: flex;
  flex-direction: column;
}

.voucherForm {
  display: flex;
  flex-direction: column;
  .voucherFormItem {
    margin-bottom: var(--space-32);
    height: var(--height-input);
    width: 48%;
    border-color: red;
  }
}
.applyForProductWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: var(--space-16);
}

.divider {
  margin: var(--space-12) 0;
}

.voucherPropertyArea {
  padding: var(--space-16);
  display: flex;
  flex-direction: column;
}
.voucherPropertyArea + .voucherPropertyArea {
  margin-top: var(--space-16);
}

.voucherAction {
  margin-top: var(--space-16);
  display: flex;
  justify-content: end;
  padding: var(--space-16);
  .cancelBtn {
    margin-right: var(--space-12);
  }
}

.errorMessage {
  color: var(--error-color);
  margin-bottom: var(--space-12);
  display: flex;
}
