.productWrapper {
    position: relative;
    background-color: white;
}
.discountFlag {
    top: 0;
    right: 0;
    position: absolute;
}

.discountFlagWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    font-weight: 400;
    line-height: 0.8125rem;
    color: rgb(238, 77, 45);
    text-transform: uppercase;
    font-size: 0.75rem;
    width: 36px;
    height: 32px;
    background-color: rgba(255, 212, 36, 0.9);
    &::after {
        content: '';
        width: 0px;
        height: 0px;
        left: 0px;
        bottom: -4px;
        position: absolute;
        border-color: transparent rgba(255, 212, 36, 0.9);
        border-style: solid;
        border-width: 0px 18px 4px;
    }

    .label {
        color: rgb(255, 255, 255);
    }
    .percent {
        padding-top: var(--space-4);
    }
}
.priceWrapper {
    display: flex;
    align-items: center;
}
.description {
    padding: var(--space-4);
}
.imageWrapper {
    height: 11.875rem;
    width: 100%;
    overflow: hidden;
    padding: 0px var(--space-4);
}
.image {
    object-fit: cover;
    width: 100%;
}
