.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.thNameOfTable {
  width: 25%;
}
.thTypeOfTable {
  width: 20%;
}
.cardWrapper {
  padding: var(--space-16);
}
