.filter-custom-wrap {
    display: flex;
    align-items: center;
    height: 50px;
    background: rgba(0, 0, 0, 0.03);
    span {
        padding-right: 15px;
    }
    .form-select {
        border: none;
    }
}
.MuiPagination-ul {
    display: flex;
    justify-content: center;
}
